@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  overscroll-behavior: none;
}

body {
  font-family: var(--font-sans), sans-serif;
}
